---
import Layout from '../layouts/Layout.astro';
import { ProductList } from '../components/ProductList';
import Contact from '../layouts/Contact.astro';
---

<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Deyla Shop</title>
        <!-- Fonts Montserrat full axis -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="/Deyla-Isotype.svg" type="image/x-icon">
    </head>

    <body class="bg-[#090909]">
        <Layout />
        <ProductList client:only />
        <Contact />
    </body>
    
</html>