---
import Layout from '../layouts/Layout.astro';
import { ProductList } from '../components/ProductList';
import { Footer }  from '../components/Footer'
---

<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <link rel="shortcut icon" href="/Deyla-Isotype.svg" type="image/x-icon">
        <!-- Fonts Montserrat full axis -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>

    <body class="bg-[#090909] overflow-x-hidden">
        <Layout />
        <ProductList client:only />
        <Footer client:only/>
    </body>

    <script src="./config.js"></script>
    <script type="module" is:inline>
        if (typeof window !== 'undefined') {
          import('./config.js').then(module => {
            if (typeof module.init === 'function') {
              module.init();
            } else {
              console.warn('Module does not export an `init` function.');
            }
          }).catch(err => {
            console.error('Failed to load config.js:', err.message);
          });
        }
      </script>
</html>