---
import NavbarCartPage from "../components/NavbarCartPage.astro";
---

<section id="CartPage">
  <NavbarCartPage
    hrefIndex="/src/pages/index.astro"
    hrefImg="/Deyla.svg"
    altImg="Deyla Logo"
  />
</section>

