---
import Navbar from "../components/Navbar.astro";
import Home from "../components/Home.astro";
---

<!-- Create a Deyla logo with Adobe Illustrator -->
<section id="Home">
    <Navbar
      hrefImg="/public/Deyla.svg" altImg="Deyla Logo"
      href1="/" title1="Home"
      href2="/products" title2="Products"
      href3="/contact" title3="Contact"
    />
    
    <Home 
        hrefImg="/public/Deyla.svg" altImg="Deyla Logo" 
    />
</section>

  