---
import Navbar from "../components/Navbar.astro";
import Home from "../components/Home.astro";
---

<!-- Create a Deyla logo with Adobe Illustrator -->
<section class="bg-radial-gradient from-[#6a27857e] via-[#090909] to-[#090909]" id="Home">
    <Navbar
      hrefImg="/Deyla-Isotype.svg" altImg="Deyla Logo"
      href1="/" title1="Home"
      href2="/products" title2="Products"
      href3="/contact" title3="Contact"
    />
    
    <Home 
      hrefImg="/Deyla.svg" altImg="Deyla Logo" 
    />
</section>